@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

* {
    margin: 0;
    padding: 0;
    font-family: arial;
    list-style: none;
}

a {
    text-decoration: none;
}

$main-black: #000000;
$grey: #8D8D8D;
$red: #FF3334;


// toolbar area
.toolbar-area {
    height: 430px;
    background-color: $main-black;
    display: flex;
    justify-content: space-between;
    li {
        list-style: none;
        display: inline-block;
        letter-spacing: 1px;
    }
    a{
        color: $grey;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 13px;
    }
    a:hover {
        color: #fff;
    }
}

.left-toolbar {
    margin-left: 85px;
    margin-top: 25px;
    li {
        margin: 0 10px;
    }
}

.right-toolbar {
    margin-right: 85px;
    margin-top: 25px;
    li {
        margin: 0 10px;
    }
    .active{
        color: $red;
    }
}

.fa-shopping-cart, .fa-search {
    color: #fff;
}

.pipe {
    color: $grey;
}

.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background: #333;
	color: #fff;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.side-nav a {
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 22px;
	color: lightgrey;
	display: block;
	transition: 0.5s;
}

.side-nav a:hover {
	color: #fff;
}

.side-nav .btn-close {
	position: absolute;
	top: 0;
	right: 22px;
	font-size: 36px;
	margin-left: 30px;
}

#vans-logo {
    height: 100px;
    z-index: 10;
}

@media screen and (min-width: 1101px) {
    .open-slide {
        display: none;
    }
}

@media screen and (max-width: 1101px) {
    .left-toolbar, .right-toolbar {
        display: none;
    }

    .toolbar-area {
        display: flex;
        justify-content: space-around;
    }

    .open-slide {
        margin-top: 20px;
        z-index: 40;
    }

    #side-menu {
        z-index: 40;
    }

    #vans-logo img {
        height: 75px;
    }
}

@media screen and (max-width: 750px) {
    .toolbar-area {
        background: linear-gradient(#000 10%, #000 20%, #fff 50%, #fff 100%);
    }

    .w3-content {
        width: 100%;
    }
}

// hero slider
.mySlides {
    display:none;
}

.hero-area {
    margin-top: -355px;
}

.w3-display-left {
    margin-top: 30px;
    margin-left: -20px;
}

.w3-display-right {
    margin-top: 30px;
    margin-right: -20px;
}

.w3-display-container {
    min-width: 1500px;
}

@media screen and (max-width: 1550px) {
    .w3-display-container {
        min-width: 1000px;
    }

    .w3-display-left {
        margin-top: 155px;
    }

    .w3-display-right {
        margin-top: 155px;
    }
}

@media screen and (max-width: 1045px) {
    .w3-display-left {
        margin-left: 0px;
        margin-top: auto;
    }

    .w3-display-right {
        margin-right: 0px;
        margin-top: auto;
    }

    .w3-display-container {
        min-width: 400px;
    }

    .hero-nav ul, .hero-text, .bottom-text {
        display: none !important;
    }
}

.hero-nav ul {
    margin-top: -620px;
    width: 1000px;
    margin-left: 240px;
    display: flex;
    justify-content: space-evenly;
    a {
        display: inline-block;
        color: #fff;
        font-family: 'Josefin Sans', arial;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.hero-nav ul li a:hover {
    color: $red;
}

.hero-text p:first-child {
    margin-top: 100px;
    font-size: 20px;
    margin-bottom: 15px;
}

.hero-text p {
    color: #fff;
    font-family: 'Josefin Sans', arial;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 190px;
    letter-spacing: 3px;;
}

.hero-text a {
    display: inline-block;
    margin-top: 15px;
    margin-left: 190px;
    border: 1px solid $red;
    background: $red;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Josefin Sans', arial;
    padding: 16px 30px 14px 30px;
}

.hero-text a:hover {
    border: 1px solid $main-black;
    background: $main-black;
    color: #fff;
    transition: 0.5s;
}

@media screen and (max-width: 1550px) {
    .hero-nav ul {
        margin-top: -420px;
        width: 500px;
        a {
            font-size: 13px;
        }
    }

    .hero-text p:first-child {
        margin-top: 90px;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .hero-text p {
        font-size: 40px;
        margin-left: 100px;
    }

    .hero-text a {
        margin-left: 100px;
    }

    .bottom-text {
        display: none !important;
    }
}

// bottom text
.bottom-text {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    hr {
        width: 400px;
        border: 1px solid #fff;
    }
}

.text-1 {
    color: $red;
    hr {
        border: 1px solid $red;
    }
}

// section
.first {
    height: auto;
    margin-top: 120px;
}

.container {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    text-align: center;
    padding: 0 30px;
}

.shop-flex {
    margin-top: 30px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    background: white;
    i {
        color: $red;
        font-size: 40px;
        margin-bottom: 20px;
    }
    p {
        font-weight: bold;
        font-family: 'Josefin Sans', arial;
        font-size: 12px;
    }
}

.shoe-slider {
    h1 {
    font-weight: bold;
    font-family: 'Josefin Sans', arial;
    line-height: 38px;
    }
    p:nth-child(2) {
        color: $red;
        font-weight: bold;
        font-family: 'Josefin Sans', arial;
        font-size: 12px;
    }
    img {
        width: 300px;
        margin-top: -30px;
    }
    p:nth-child(4) {
        font-weight: bold;
        font-family: 'Josefin Sans', arial;
        text-transform: capitalize;
        text-align: left;
        margin-top: -55px;
    }
    .price {
        font-weight: bold;
        color: $red;
        text-align: left;
    }
    .line-through {
        color: $grey;
        text-decoration: line-through;
        margin-left: 5px;
    }
    a {
        position: absolute;
        font-weight: bold;
        font-family: 'Josefin Sans', arial;
        font-size: 13px;
        color: #fff;
        background: $red;
        padding: 13px 23px 10px 23px;
        margin-top: -43px;
        margin-left: 60px;
    }
    a:hover {
        background: $main-black;
        color: #fff;
        transition: 0.5s;
    }
}

.shop-online {
    h1 {
    font-weight: bold;
    font-family: 'Josefin Sans', arial;
    }
}

@media screen and (max-width: 1050px) {
    .first {
        margin-top: 30px;
    }

    section .container {
        flex-direction: column;
        justify-content: center;
    }
    .shoe-slider {
        a {
            margin-left: 8%;
        }
        .title {
            background: white;
            margin-left: 2%;
        }
        .price {
            margin-left: 2%;
        }
    }
    .shop-online {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .shop-flex {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }
}

//news events
.news-events {
    padding-top: 60px;
    padding-left: 12%;
    padding-bottom: 75px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    h1 {
        text-transform: uppercase;
        font-family: 'Josefin Sans', arial;
        font-weight: bold;
        font-size: 22px;
        display: inline-block;
        margin-bottom: -10px;
    }
    .see-all {
        color: $red;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 800;
        font-size: 12px;
        margin-left: 150px;
    }
    hr {
        border: 1px solid lightgrey;
        width: 400px;
    }
}

.article-container {
    margin-bottom: 30px;
    display: flex;
    img {
        margin-top: 5px;
    }
}

.article-container .text {
    margin-left: 25px;
    width: 290px;
    font-family: 'Josefin Sans', arial;
    font-weight: bold;
}

.article-container .date {
    color: lightgrey;
    font-size: 12px;
    margin-bottom: 10px;
}

.article-container .red-heart {
    color: $red;
}

.article-container .summary {
    font-family: 'Josefin Sans', arial;
    font-weight: lighter;
    font-size: 18px;
}

.article-container .text a {
    color: $red;
    text-transform: uppercase;
    font-family: 'Josefin Sans', arial;
    font-size: 13px;
    font-weight: 900 !important;
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    .news-events {
        // margin-left: -10px;
        .see-all {
            margin-left: 50px;
        }
        hr {
            width: 300px;
        }
    }
    .text {
        .summary {
            width: 200px;
        }
    }
}

// bestsellers
.bestsellers {
    margin-top: -170px;
    margin-left: 20%;
}

.bestsellers h1 {
    position: absolute;
    color: #fff;
    font-family: 'Josefin Sans', arial;
    margin-top: -380px;
    margin-left: 300px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1px;
}

.bestsellers hr {
    position: absolute;
    margin-top: -285px;
    margin-left: 300px;
    border: 2px solid #fff;
    width: 50px;
}

.bestsellers p {
    position: absolute;
    margin-top: -250px;
    margin-left: 300px;
    color: #fff;
    font-family: 'Josefin Sans', arial;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.bestsellers a {
    position: absolute;
    margin-top: -150px;
    margin-left: 300px;
    color: #fff;
    background: $red;
    padding: 13px 23px 10px 23px;
    font-family: 'Josefin Sans', arial;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.bestsellers a:hover {
    background: $main-black;
    transition: 0.5s;
}

@media screen and (max-width: 1530px) {
    .news-events {
        padding-left: 10%;
    }

    .bestsellers {
        // margin-top: 50px;
        margin-left: 10%;
        width: 200px;
    }
}

@media screen and (max-width: 1180px) {
    .news-events {
        padding-left: 7%;
    }

    .bg-img {
        width: 450px;
    }

    .bestsellers {
        margin-top: 50px;
        h1 {
            display: none;
        }
        hr {
            display: none;
        }
        p {
            display: none;
        }
    }
}

@media screen and (max-width: 750px) {
    .bestsellers {
        margin-top: 10px;
        .bg-img {
            width: 300px;
            margin-left: -15px;
        }
        a {
            margin-top: -90px;
            margin-left: 150px;
        }
    }
}

// bottom menu
.bottom-menu {
    height: 500px;
    text-transform: uppercase;
    background: #1A1A1A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    h2 {
        color: #fff;
        font-family: 'Josefin Sans', arial;
        font-weight: 800;
        font-size: 16px;
    }
    li {
        margin: 15px 0;
    }
    a {
        color: #999999;
        font-family: 'Josefin Sans', arial;
        font-weight: bold;
        font-size: 12px;
    }
    a:hover {
        color: #fff;
    }
    .active-b2b {
        color: $red;
    }
    .bottom-menu-column {
        margin-top: 90px;
        img {
            margin: 15px 1px 15px 0px;
        }
        i {
            color: #999999;
            font-size: 40px;
            margin: 15px 15px 0 0;
        }
        i:hover {
            color: #fff;
        }
    }
    .down {
        margin-top: 250px;
    }
}

.newsletter {
    position: absolute;
    background: #FF3333;
    color: #fff;
    height: 200px;
    width: 650px;
    margin-top: -100px;
    margin-left: 355px;
    label {
        display: block;
        letter-spacing: 2px;
        margin-top: 50px;
        margin-left: 100px;
        margin-bottom: 15px;
        font-family: 'Josefin Sans', arial;
    }
    input {
        border: none;
        height: 45px;
        width: 325px;
        font-family: 'Josefin Sans', arial;
        margin-left: 100px;
    }
    button {
        border: none;
        height: 45px;
        width: 130px;
        background: #D92B2B;
        color: #fff;
        font-family: 'Josefin Sans', arial;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 750px) {
    .newsletter {
        height: 130px;
        // width: auto;
        margin-top: -500px;
        margin-left: -10px;
        label {
            margin-top: 20px;
            margin-left: 30px;
        }
        input {
            width: 250px;
            margin-left: 30px;
        }
        button {
            margin-left: -4px;
            width: 95px;
            font-size: 10px;
        }
    }
    .bottom-menu {
        margin-top: 100px;
        height: auto;
        padding-bottom: 20px;
        flex-direction: column;
        justify-content: center;
        .customer-service {
            margin-top: 20px;
        }
        .down {
            margin-top: 20px;
        }
    }
    .bottom-menu-column {
        margin-left: 25px;
        .pre {
            display: block;
        }
    }
}

// footer
footer {
    height: 225px;
    background: $main-black;
    color: $grey;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    img {
        margin-top: 60px;
        width: 150px;
    }
    p {
        font-family: 'Josefin Sans', arial;
        margin-top: 10px;
    }
}

@media screen and (min-width: 750px) {
    .mobile-hero {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .w3-content {
        display: none;
    }
    .mobile-hero {
        width: 100%;
    }
}
