* {
    margin: 0;
    padding: 0;
    font-family: arial;
    list-style: none;
}

a {
    text-decoration: none;
}

$grey: #8D8D8D;
$red: #FF3334;


// toolbar area
.toolbar-area {
    height: 300px;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    li {
        list-style: none;
        display: inline-block;
        letter-spacing: 1px;
    }
    a{
        color: $grey;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 13px;
    }
    a:hover {
        color: #fff;
    }
}

.left-toolbar {
    margin-left: 80px;
    margin-top: 20px;
    li {
        margin: 0 10px;
    }
}

.right-toolbar {
    margin-right: 80px;
    margin-top: 20px;
    li {
        margin: 0 10px;
    }
}

.fa-shopping-cart, .fa-search {
    color: #fff;
}

.pipe {
    color: $grey;
}

.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background: #333;
	color: #fff;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.side-nav a {
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 22px;
	color: lightgrey;
	display: block;
	transition: 0.5s;
}

.side-nav a:hover {
	color: #fff;
}

.side-nav .btn-close {
	position: absolute;
	top: 0;
	right: 22px;
	font-size: 36px;
	margin-left: 30px;
}

@media screen and (min-width: 1045px) {
    .open-slide {
        display: none;
    }
}

@media screen and (max-width: 1045px) {
    .left-toolbar, .right-toolbar {
        display: none;
    }

    .toolbar-area {
        display: flex;
        justify-content: space-around;
    }

    .open-slide, #vans-logo {
        margin-top: 20px;
    }
}


// hero area
.mySlides {
    display:none;
}

.hero-area {
    margin-top: -240px;
}
